<!--/* 
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in 
a browser. 
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="narrative.css"/>
    </head>
    <body>
<!--*/-->
<div>
    <!-- Name. -->
    <th:block th:unless="${#strings.isEmpty(resource.name)}">
        <div class="hapiHeaderText" th:text="${resource.name}"/>
    </th:block>
    <!-- Alias. -->
    <th:block th:unless="${#arrays.isEmpty(resource.alias)}">
        <br />
        <div class="hapiSubHeaderText" th:text="'Nome empresarial'"/>
        <table class="hapiPropertyTable">
            <tbody>
                <tr th:each="alias : ${resource.alias}">
                    <th:block th:unless="${#strings.isEmpty(alias.value)}">
                        <td th:text="${alias.value}"></td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </th:block>
    <!-- Identifiers. -->
    <th:block th:unless="${#arrays.isEmpty(resource.identifier)}">
        <br />
        <div class="hapiSubHeaderText" th:text="'Identificadores'"/>
        <table class="hapiPropertyTable">
            <tbody>
                <tr th:each="identifier : ${resource.identifier}">
                    <th:block th:unless="${#strings.isEmpty(identifier.value)}">
                        <td th:text="${identifier.value}"></td>
                        <div th:switch="${identifier.system}">
                            <td th:case="'urn:oid:2.16.840.1.113883.13.36'">Número no CNES</td>
                            <td th:case="'https://alexandresavaris.org/fhir/r4/NamingSystem/cnes/CodigoUnidade'">Código da Unidade no CNES</td>
                            <td th:case="'http://rnds.saude.gov.br/fhir/r4/NamingSystem/cnpj'">CNPJ</td>
                        </div>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </th:block>
    <!-- Address. -->
    <th:block th:unless="${#arrays.isEmpty(resource.address)}">
        <br />
        <div class="hapiSubHeaderText" th:text="'Endereço'"/>
        <table class="hapiPropertyTable">
            <tbody>
                <div th:each="address : ${resource.address}">
                    <tr>
                        <th>Logradouro</th>
                        <th>CEP</th>
                    </tr>
                    <tr>
                        <td th:text="${address.text}"></td>
                        <td th:text="${address.postalCode}"></td>
                    </tr>
                    <th:block th:unless="${#arrays.isEmpty(address.extension)}">
                        <tr>
                            <td colspan="2" style="border: 0px">&nbsp;</td>
                        </tr>
                        <tr th:each="extensionLevel1 : ${address.extension}">
                            <div th:if="${extensionLevel1.value}">
                                <td th:text="${extensionLevel1.value.code}"></td>
                                <div th:if="${#strings.length(extensionLevel1.value.code) > 2}">
                                    <td th:text="'Código do Município no IBGE'"></td>
                                </div>
                            </div>
                        </tr>
                    </th:block>
                </div>
            </tbody>
        </table>
    </th:block>
    <!-- Contact. -->
    <th:block th:unless="${#arrays.isEmpty(resource.contact)}">
        <br />
        <div class="hapiSubHeaderText" th:text="'Contatos'"/>
        <table class="hapiPropertyTable">
            <tbody>
                <tr>
                    <th>Contato</th>
                    <th>Meio</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                </tr>
                <tr th:each="contact : ${resource.contact}">
                    <th:block th:unless="${#strings.isEmpty(contact.telecom[0].value)}">
                        <td th:text="${contact.telecom[0].value}"></td>
                        <div th:switch="${contact.telecom[0].system.name}">
                            <td th:case="PHONE">Telefone</td>
                            <td th:case="EMAIL">E-mail</td>
                        </div>
                        <td th:text="${contact.purpose.coding[0].code}"></td>
                        <td th:text="${contact.purpose.coding[0].display}"></td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </th:block>
    <!-- Legal Nature. -->
    <th:block th:unless="${resource.legalNatureCategory} == null OR ${resource.legalNatureCode} == null">
        <br />
        <div class="hapiSubHeaderText" th:text="'Natureza Jurídica'"/>
        <table class="hapiPropertyTable">
            <tbody>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                </tr>
                <tr>
                    <td th:text="${resource.legalNatureCategory.code}"></td>
                    <td th:text="${resource.legalNatureCategory.display}"></td>
                </tr>
                <tr>
                    <td th:text="${resource.legalNatureCode.code}"></td>
                    <td th:text="${resource.legalNatureCode.display}"></td>
                </tr>
            </tbody>
        </table>
    </th:block>
    <!-- Maintainer's CNPJ. -->
    <th:block th:unless="${resource.maintainerCnpj} == null">
        <br />
        <div class="hapiSubHeaderText" th:text="'Mantenedora'"/>
        <table class="hapiPropertyTable">
            <tbody>
                <tr>
                    <td th:text="${resource.maintainerCnpj.code}"></td>
                    <td th:text="${resource.maintainerCnpj.display}"></td>
                </tr>
            </tbody>
        </table>
    </th:block>
    <!-- Maintainer's Legal Nature. -->
    <th:block th:unless="${resource.maintainerLegalNatureCategory} == null OR ${resource.maintainerLegalNatureCode} == null">
        <br />
        <div class="hapiSubHeaderText" th:text="'Natureza Jurídica da Mantenedora'"/>
        <table class="hapiPropertyTable">
            <tbody>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                </tr>
                <tr>
                    <td th:text="${resource.maintainerLegalNatureCategory.code}"></td>
                    <td th:text="${resource.maintainerLegalNatureCategory.display}"></td>
                </tr>
                <tr>
                    <td th:text="${resource.maintainerLegalNatureCode.code}"></td>
                    <td th:text="${resource.maintainerLegalNatureCode.display}"></td>
                </tr>
            </tbody>
        </table>
    </th:block>
    <!-- Update date. -->
    <th:block th:unless="${resource.updateDate} == null">
        <br />
        <div class="hapiSubHeaderText" th:text="'Data de atualização'"/>
        <table class="hapiPropertyTable">
            <tbody>
                <tr>
                    <td th:text="${#dates.format(resource.updateDate.value, 'dd/MM/yyyy')}"></td>
                </tr>
            </tbody>
        </table>
    </th:block>
</div>
<!--/*-->
    </body>
</html>
<!--*/-->